Download and clean the dataset. Import the numpy and pandas.

In [18]:
import pandas as pd
import numpy as np

Lets read the data to a pandas data frame

In [19]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

See how many data points we have

In [20]:
concrete_data.shape

(1030, 9)

Check the data set for any null values

In [21]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [22]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split the data

In [23]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [24]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [25]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalize data

In [26]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [27]:
n_cols = predictors_norm.shape[1]

Import Keras libs

In [28]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Part A
Define the Neaural Network

In [29]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Split the data set to training and test sets

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

Train and test the network for 50 epocs

In [31]:
# build the model
model = regression_model()
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/100
 - 6s - loss: 1602.3209
Epoch 2/100
 - 0s - loss: 1562.6796
Epoch 3/100
 - 0s - loss: 1523.0918
Epoch 4/100
 - 0s - loss: 1469.1495
Epoch 5/100
 - 0s - loss: 1386.5514
Epoch 6/100
 - 0s - loss: 1253.5519
Epoch 7/100
 - 0s - loss: 1065.6707
Epoch 8/100
 - 0s - loss: 838.3701
Epoch 9/100
 - 0s - loss: 602.0957
Epoch 10/100
 - 0s - loss: 422.6644
Epoch 11/100
 - 0s - loss: 321.4635
Epoch 12/100
 - 0s - loss: 281.0609
Epoch 13/100
 - 0s - loss: 257.2942
Epoch 14/100
 - 0s - loss: 241.6937
Epoch 15/100
 - 0s - loss: 230.3541
Epoch 16/100
 - 0s - loss: 221.6603
Epoch 17/100
 - 0s - loss: 214.1206
Epoch 18/100
 - 0s - loss: 207.6615
Epoch 19/100
 - 0s - loss: 202.1747
Epoch 20/100
 - 0s - loss: 197.1543
Epoch 21/100
 - 0s - loss: 192.9148
Epoch 22/100
 - 0s - loss: 188.9008
Epoch 23/100
 - 3s - loss: 185.1908
Epoch 24/100
 - 4s - loss: 181.9325
Epoch 25/100
 - 0s - loss: 178.7208
Epoch 26/100
 - 3s - loss: 175.5062
Epoch 27/100
 - 0s - loss: 172.8860
Epoch 28/100
 - 0s - loss: 169.2613
Epoch 29/100
 - 0s - loss: 166.4155
Epoch 30/100
 - 0s - loss: 163.7527
Epoch 31/100
 - 0s - loss: 161.0230
Epoch 32/100
 - 0s - loss: 158.4647
Epoch 33/100
 - 0s - loss: 155.9992
Epoch 34/100
 - 0s - loss: 153.5566
Epoch 35/100
 - 0s - loss: 151.9682
Epoch 36/100
 - 0s - loss: 149.2348
Epoch 37/100
 - 0s - loss: 147.3770
Epoch 38/100
 - 0s - loss: 145.6971
Epoch 39/100
 - 0s - loss: 143.6984
Epoch 40/100
 - 0s - loss: 142.0923
Epoch 41/100
 - 0s - loss: 140.3028
Epoch 42/100
 - 0s - loss: 138.8217
Epoch 43/100
 - 0s - loss: 137.4404
Epoch 44/100
 - 0s - loss: 135.6319
Epoch 45/100
 - 0s - loss: 134.3710
Epoch 46/100
 - 0s - loss: 132.8526
Epoch 47/100
 - 0s - loss: 131.1397
Epoch 48/100
 - 0s - loss: 129.6294
Epoch 49/100
 - 0s - loss: 128.1928
Epoch 50/100
 - 0s - loss: 126.5808
Epoch 51/100
 - 0s - loss: 125.2522
Epoch 52/100
 - 0s - loss: 123.6976
Epoch 53/100
 - 0s - loss: 122.3311
Epoch 54/100
 - 0s - loss: 120.7820
Epoch 55/100
 - 0s - loss: 119.4818
Epoch 56/100
 - 0s - loss: 118.1427
Epoch 57/100
 - 4s - loss: 117.0956
Epoch 58/100
 - 3s - loss: 115.6597
Epoch 59/100
 - 0s - loss: 114.1358
Epoch 60/100
 - 0s - loss: 112.6760
Epoch 61/100
 - 0s - loss: 111.3492
Epoch 62/100
 - 0s - loss: 110.0703
Epoch 63/100
 - 0s - loss: 108.7423
Epoch 64/100
 - 0s - loss: 107.6481
Epoch 65/100
 - 0s - loss: 106.4986
Epoch 66/100
 - 0s - loss: 104.8093
Epoch 67/100
 - 0s - loss: 103.8022
Epoch 68/100
 - 0s - loss: 102.9137
Epoch 69/100
 - 0s - loss: 101.1953
Epoch 70/100
 - 0s - loss: 100.2071
Epoch 71/100
 - 0s - loss: 99.6732
Epoch 72/100
 - 0s - loss: 98.5335
Epoch 73/100
 - 0s - loss: 97.0919
Epoch 74/100
 - 0s - loss: 96.3063
Epoch 75/100
 - 0s - loss: 95.2383
Epoch 76/100
 - 0s - loss: 94.3242
Epoch 77/100
 - 0s - loss: 93.7810
Epoch 78/100
 - 0s - loss: 92.3719
Epoch 79/100
 - 0s - loss: 91.7200
Epoch 80/100
 - 0s - loss: 90.8510
Epoch 81/100
 - 0s - loss: 89.9722
Epoch 82/100
 - 0s - loss: 89.1791
Epoch 83/100
 - 0s - loss: 88.8159
Epoch 84/100
 - 0s - loss: 87.4456
Epoch 85/100
 - 0s - loss: 86.6653
Epoch 86/100
 - 0s - loss: 86.0466
Epoch 87/100
 - 0s - loss: 85.7726
Epoch 88/100
 - 0s - loss: 84.5971
Epoch 89/100
 - 7s - loss: 83.8423
Epoch 90/100
 - 0s - loss: 82.8669
Epoch 91/100
 - 0s - loss: 82.4619
Epoch 92/100
 - 0s - loss: 81.8855
Epoch 93/100
 - 0s - loss: 80.9863
Epoch 94/100
 - 0s - loss: 80.5290
Epoch 95/100
 - 0s - loss: 79.4439
Epoch 96/100
 - 0s - loss: 78.7756
Epoch 97/100
 - 0s - loss: 78.2548
Epoch 98/100
 - 0s - loss: 77.4430
Epoch 99/100
 - 0s - loss: 76.7566
Epoch 100/100
 - 0s - loss: 75.8090

Evaluate the model for test data

In [32]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 3s 11ms/step

84.8267918312048

In [34]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

84.82679333958792 0.0

In [35]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 43.88854877385507
MSE 2: 44.25792794088716
MSE 3: 31.221906470635176
MSE 4: 33.40929054210873
MSE 5: 34.87085268335435
MSE 6: 32.312715215590394
MSE 7: 37.06828584640157
MSE 8: 29.64656382934175
MSE 9: 30.79107280842309
MSE 10: 28.628930891215994
MSE 11: 27.58325152103955
MSE 12: 24.250284855419764
MSE 13: 29.503094040460184
MSE 14: 31.46935227773722
MSE 15: 28.433571287729208
MSE 16: 19.19560247871868
MSE 17: 22.286719343808862
MSE 18: 25.21830290883876
MSE 19: 20.325323654224185
MSE 21: 20.900723441904802
MSE 22: 24.082378622011845
MSE 23: 20.175168947880323
MSE 24: 23.747871281645445
MSE 25: 22.84226557660643
MSE 26: 26.399828358375526
MSE 27: 18.106737451645934
MSE 28: 20.158138867720815
MSE 29: 25.601477329785
MSE 30: 22.168646673554356
MSE 31: 20.789914294739756
MSE 32: 18.029605519810154
MSE 33: 14.683581398528757
MSE 34: 21.252691929394373
MSE 35: 21.888451338585913
MSE 36: 23.61405189291945
MSE 37: 16.611496619807863
MSE 38: 21.849908946015688
MSE 39: 22.190092518877442
MSE 40: 17.060526295387245
MSE 41: 21.363123551155756
MSE 42: 19.92558866951458
MSE 43: 18.172588376165592
MSE 44: 20.891396537953597
MSE 45: 23.141731916507858
MSE 46: 19.119139896627384
MSE 47: 20.732243534816508
MSE 48: 16.69797528214439
MSE 49: 21.27374410783589
MSE 50: 20.798091070551703


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 24.516115394758835
Standard Deviation: 6.4440574063352045